@keyframes opacity {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes opacity-inverse {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes swing {
	18% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg)
	}
	36% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg)
	}
	54% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg)
	}
	72% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg)
	}
	90% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg)
	}
}

@keyframes boom {
	0%,
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.15, 1.15, 1.15);
		transform: scale3d(1.15, 1.15, 1.15)
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, .4)
	}
	to {
		box-shadow: 0 0 0 15px transparent
	}
}

.pulse {
	animation: pulse .7s
}

.frame {
	box-shadow: inset 0 4px 0px 0px #fc5185;
}

:focus {
	outline: 0
}

#slider-thumb:active,
#slider-thumb:hover {
	box-shadow: 0 0 0 2px #fff
}

#rack:hover>svg {
	animation: swing .825s infinite
}

#react:hover>svg {
	animation: boom .75s infinite
}

#periodic-table::-webkit-scrollbar {
	background-color: transparent;
	position: absolute;
	width: 16px;
	height: 16px
}

#periodic-table::-webkit-scrollbar-track {
	background-color: transparent
}

#periodic-table::-webkit-scrollbar-thumb {
	background-color: #d4d4d4;
	border: 4px solid #fff;
	border-radius: 16px
}

#periodic-table::-webkit-scrollbar-thumb:hover {
	background-color: #80868b;
	cursor: pointer
}

#periodic-table::-webkit-scrollbar-thumb:active {
	background-color: #5f6368
}

#periodic-table::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

#main .element {
	backface-visibility: hidden;
	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: 50%;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
	height: 72px;
	pointer-events: all;
	position: absolute;
	width: 72px
}

#rack-dialog>div {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
	display: flex;
	margin: auto;
	max-height: calc(100% - 60px);
	position: relative;
	z-index: 2
}

#periodic-table {
	display: grid;
	list-style-type: none;
	margin: 48px 32px 32px;
	overflow: auto;
	padding-left: 0;
	position: relative
}

#periodic-table>.element {
	border: 1px solid #fff
}

#periodic-table>.element:hover {
	border: 1px solid rgba(0, 0, 0, .12)
}

#close {
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	height: 40px;
	position: absolute;
	right: 4px;
	top: 4px;
	transition: transform .2s;
	width: 40px;
	z-index: 1
}

#close:focus,
#close:hover {
	background: rgba(0, 0, 0, .04);
	transform: rotate(90deg)
}

#close>svg,
.slot>li {
	margin: auto
}

#closeup,
#overlay {
	position: absolute;
	width: 100%
}

#overlay {
	background: rgba(0, 0, 0, .5);
	display: none;
	height: 100%;
	z-index: 2
}

#main .element.selected,
#main>.molecule.selected>.element {
	border: 1px solid #fc5185;
	box-shadow: inset 0 0 0 1px #fc5185
}

#main>.molecule.m-shadow>.element {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23), inset 0 0 0 1px #fc5185
}

#main>.molecule.selected>.svg>line {
	stroke: #fc5185
}

.element {
	background: #5bc2ea;
	display: flex;
	font-family: 'Roboto', sans-serif;
	min-height: 40px;
	position: relative;
	transition: box-shadow 150ms linear
}

#drag-area[style*="display: none"]~.element,
.element:hover {
	cursor: pointer
}

body[grabbing],
body[grabbing] .element:hover {
	cursor: grabbing
}

.slot>li {
	border-radius: 50%;
	display: flex;
	height: calc(100% - 2px);
	width: calc(100% - 2px)
}

#periodic-table>.element:before {
	content: counter(element);
	counter-increment: element;
	font-size: 12px;
	font-weight: lighter;
	left: 3px;
	position: absolute;
	top: 1px
}

#closeup {
	background: #e8e8e8;
	border: 3px solid #000;
	display: flex;
	flex-direction: column;
	grid-column: 4/6;
	grid-row: 1/3;
	justify-content: space-between;
	min-height: 100%;
	padding: 8px
}

#electron-config {
	position: absolute;
	bottom: -20%;
	left: 0;
}

#atomic-symbol {
	font-size: 32px;
	font-weight: 700
}

#atomic-name {
	font-size: 14px;
	font-style: italic
}

.element abbr {
	font-size: 28px;
	margin: auto;
	pointer-events: none;
	text-decoration: none;
	user-select: none
}

.helium {
	grid-column-start: 18
}

.aluminium,
.boron {
	grid-column-start: 13
}

.cerium,
.thorium {
	grid-column-start: 4
}

#periodic-table>.element:nth-child(n+59):nth-last-child(n+48) {
	grid-row-start: 8
}

#periodic-table>.element:nth-child(n+91):nth-last-child(n+16) {
	grid-row-start: 9
}

#periodic-table:before {
	content: '';
	display: block;
	grid-column: 1/4;
	grid-row: 8/10
}

.element.noble-gas {
	background: #eab37f
}

.element.nonmetal {
	background: #eada24
}

.element.alkali {
	background: #f7aac0
}

.element.alkaline {
	background: #40e0d0
}

.element.poor-metal {
	background: #4bd27d;
}

.element.lanthanide {
	background: #b19cd9
}

.element.actinide {
	background: #fa78c4
}

.element.metalloid {
	background: #c3d690
}

@media all and (min-width:1320px) {
	#periodic-table>.element {
		height: 60px;
		width: 60px
	}
	body>.element {
		height: 72px;
		width: 72px
	}
}

@media all and (max-width:1320px) and (min-width:950px) {
	#periodic-table>.element {
		height: 40px;
		width: 40px
	}
}

@media all and (max-width:1320px) {
	#periodic-table>.element:before {
		content: none
	}
	.element>abbr {
		font-size: 20px
	}
	body>.element, #main .element {
		height: 60px;
		width: 60px
	}
	#closeup {
		grid-column: 4/7;
		grid-row: 1/3
	}
	#electron-config {
		display: none;
	}
	#atomic-mass,
	#atomic-number {
		font-size: 14px
	}
	#atomic-symbol {
		font-size: 28px
	}
	#atomic-name {
		font-size: 12px
	}
}

@media all and (max-width:949px) {
	#closeup,
	ol#periodic-table:before {
		display: none
	}
	.aluminium,
	.boron,
	.cerium,
	.helium,
	.thorium {
		grid-column-start: auto
	}
	#periodic-table {
		grid-template-columns: repeat(16, 1fr);
		margin: 48px 20px 16px;
	}
	#periodic-table>.element {
		border-radius: 4px;
		padding: 4px;
	}
	#periodic-table[scrollbar] {
		margin-right: 4px;
	}
	ol#periodic-table>.element:nth-child(n+58):nth-last-child(n+48),
	ol#periodic-table>.element:nth-child(n+90):nth-last-child(n+16) {
		grid-row-start: auto
	}
}

@media all and (max-width:850px) {
	#periodic-table {
		grid-template-columns: repeat(14, 1fr)
	}
	body>.element, #main .element {
		height: 48px;
		width: 48px
	}
}

@media all and (max-width:750px) {
	#periodic-table {
		grid-template-columns: repeat(10, 1fr)
	}
}

@media all and (max-width:650px) {
	#periodic-table {
		grid-template-columns: repeat(8, 1fr)
	}
}

@media all and (max-width:550px) {
	#periodic-table {
		grid-template-columns: repeat(6, 1fr)
	}
}

body>.element {
	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: 50%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
}

#mirror {
	margin: 0;
	pointer-events: none;
	position: absolute;
	z-index: 2
}

#menu {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
	display: none;
	padding: 0;
	position: absolute;
	width: 200px;
	z-index: 2
}

#menu-options {
	list-style: none;
	margin: 0;
	padding: 6px 0
}

.option {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-size: 14px
}

.option:hover {
	background: #f5f5f5
}

.option * {
	pointer-events: none
}

.menu-content:empty,
.menu-content:empty+svg {
	height: 0;
	padding: 0;
	width: 0
}

.menu-content {
	margin-left: 6px;
	padding: 6px 8px 6px 0
}

.option svg {
	order: -1;
	padding: 6px 0 6px 8px
}

#drag-area {
	background: rgba(252, 81, 133, .2);
	border: 1px solid rgba(252, 81, 133, .5);
	display: none;
	position: absolute
}

#snackbar {
	background: #333;
	border-radius: 4px;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
	color: #d5d5d5;
	display: flex;
	justify-content: center;
	left: 0;
	margin: auto;
	opacity: 0;
	padding: 8px 0 8px 16px;
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
	width: fit-content;
	z-index: 1
}

#snackbar * {
	align-items: center;
	display: flex
}

#snackbar-close {
	border-radius: 50%;
	cursor: pointer;
	margin: 0 12px 0 16px;
	padding: 8px;
	position: relative
}

#snackbar-close:hover {
	background: rgba(255, 255, 255, .08)
}

#snackbar-close:active {
	background: rgba(255, 255, 255, .12)
}

#snackbar.show {
	opacity: 1;
	top: 30px;
	visibility: visible
}

.svg {
	height: 100vh;
	width: 100vw
}

.svg>line {
	stroke: #5f6368;
	stroke-width: 8px
}

.molecule,
.svg {
	pointer-events: none;
	position: absolute
}